<head>
  <title>Опрос</title>

  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, user-scalable=no">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
  <link rel="stylesheet" href="./css/app.min.css" type="text/css">
</head>