.main
{
  padding: 15px;
  min-height: 100%;

  background: url('./images/back.png') no-repeat center center;
  background-size: cover;

  &__wrap
  {
    max-width: 430px;
    padding: 0 40px 50px;
    margin: 0 auto;

    box-sizing: border-box;
    border-radius: 125px;

    overflow: hidden;

    background: linear-gradient(348.54deg, #FFFFFF 62.17%, rgba(255, 255, 255, 0.55) 96.93%);

    text-align: center;
  }

  &__header
  {
    width: 150px; 

    margin: 0 auto 20px;
    padding: 27px 0 24px;

    background: linear-gradient(355.23deg, #F54629 66.7%, #FF8C8C 95.29%);
    box-shadow: 0px 4px 30px rgba(255, 255, 255, 0.25);

    border-radius: 0 0 20px 20px;
  }

  &__text
  {
    margin-bottom: 10px;
  }

  &__ttl
  {
    line-height: normal;
    font-size: 48px;
    line-height: 43px;

    font-family: $font-slab;
    font-weight: 900;
  }

  &__desc
  {
    margin-top: 18px;

    &_score
    {
      font-size: 18px;

      margin-top: 25px;
    }
  }

  &__score
  {
    font-weight: 900;
    font-size: 100px;
    line-height: 89px;

    color: #FF3232;
  }

  .button
  {
    margin-top: 30px;
  }
}

@media (max-width: 680px) {
  .main
  {
    padding: 0;
    background: #fff;

    &__wrap
    {
      padding: 0;

      border-radius: 100px 100px 0 0;

      background: transparent;

      position: relative;

      &::before
      {
        content: '';
        display: block;

        height: 210px;

        background: url('./images/back.png') no-repeat center center;
        background-size: cover;

        margin-bottom: 20px;
      }
    }

    &__header
    {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }

    &__ttl
    {
      font-size: 40px;
    }

    &__desc
    {
      &_score
      {
        font-size: 16px;
      }
    }
  }
}