.quest
{
  position: relative;

  display: flex;
  align-items: center;

  &__container
  {
    width: 310px;

    margin-left: 40px;
    padding: 25px 0;

    flex-shrink: 0;
  }

  &__wrap
  {
    background: rgba(255, 255, 255, .95);
    border-radius: 4px;

    margin-bottom: 10px;

    padding: 3px 3px 20px;
  }

  &__preresult
  {
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &-item
    {
      display: inline-block;
      width: 100%;
      height: 4px;

      border-radius: 2px;

      background: #E1E5E7;
      
      &:not(:last-child) {
        margin-right: 2px;
      }

      &_valid
      {
        background: #04D77E;
      }

      &_invalid
      {
        background: #F5472A;
      }
    }
  }

  &__number
  {
    color: #C4C4C4;
    text-align: center;

    margin-bottom: 20px;
  }

  &__ttl
  {
    font-size: 26px;
    text-align: center;
  }

  &__desc
  {
    font-size: 14px;
    padding: 0 10px;
  }

  &__img
  {
    width: 100%;
    max-width: 360px;
    border: 10px solid #fff;

    margin: 0 auto;

    transform: rotate(-1.37deg);

    img
    {
      display: block;
      width: 100%;
    }
  }

  &__images
  {
    width: 100%;

    &-item
    {
      text-align: right;

      img
      {
        max-width: 265px;

        border: 10px solid #fff;
      }

      &_left
      {
        text-align: left;
      }

      &_first 
      {
        position: relative;
        z-index: 2;

        img
        {
          transform: rotate(-1.35deg);
        }
      }

      &_second 
      {
        margin-top: -40px;

        position: relative;
        z-index: 1;

        img
        {
          transform: rotate(-5.42deg);
        }
      }

      &_three 
      {
        margin-top: -50px;

        img
        {
          transform: rotate(3.83deg);
        }
      }
    }
  }

  &__answers
  {
    background: rgba(255, 255, 255, .95);
    border-radius: 4px;

    overflow: hidden;

    &-item
    {      
      font-size: 18px;
      padding: 0 10px;
      text-align: center;

      height: 65px;

      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;

      transition: .3s;

      &:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, .1);
      }

      &:hover
      {
        background: #EDEDED;
      }
    }
  }

  &__result
  {
    background: #04D77E;

    padding: 3px 3px 10px;

    border-radius: 10px;

    color: #fff;

    &_invalid
    {
      background: #F5472A;
    }

    &-header
    {
      height: 54px;

      padding: 0 10px;

      background: #fff;
      border-radius: 7px;

      display: flex;
      align-items: center;
      justify-content: space-between;

      color: #04D77E;

      svg
      {
        fill: #04D77E;

        path
        {
          fill: #fff;
        }
      }
    }

    &_invalid &-header
    {
      color: #F5472A;

      svg
      {
        fill: #F5472A;
      }
    }

    &-desc
    {
      font-size: 14px;

      padding: 0 12px;

      margin-top: 10px;
    }

    &-btn
    {
      margin-top: 15px;

      text-align: center;

      .button
      {
        max-width: 175px;
        padding: 10px;


        &::after
        {
          content: '';
          display: inline-block;

          width: 8px;
          height: 8px;

          background: url('./images/icon-arrow.svg') no-repeat center center;

          margin-left: 10px;
        }
      }
    }
  }
}

@media (max-width: 680px) {
  .quest
  {
    display: block;
    
    &__container
    {
      width: 100%;

      margin-left: 0;
      padding-bottom: 0;
      padding-top: 10px;
    }

    &__wrap
    {
      padding-bottom: 10px;
    }

    &__preresult
    {
      margin-bottom: 10px;
    }

    &__number
    {
      margin-bottom: 10px;
    }

    &__img
    {
      max-width: 190px;
    }

    &__ttl
    {
      font-size: 14px;
    }

    &__answers
    {
      &-item
      {
        font-size: 16px;

        height: 50px;
      }
    }

    &__images
    {
      width: auto;
      padding: 10px 0;
      margin: 0 -15px;

      display: flex;
      align-items: center;

      overflow: auto;

      -ms-overflow-style: none;
    	overflow: -moz-scrollbars-none;

			&::-webkit-scrollbar { 
				display: none; 
			}

      &-item
      {
        flex-shrink: 0;

        margin: 0 10px;

        margin-top: 0 !important;

        img
        {
          max-width: 180px;
        }
      }
    }
  }
}