.questions
{
  padding: 15px;

  background: url('./images/back.png') no-repeat center center;
  background-size: cover;

  position: relative;
  overflow: hidden;

  &::before
  {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: rgba(0, 0, 0, .3);
  }
}

@media (max-width: 767px) {
  .questions
  {
    border-radius: 20px;
  }
}