@font-face {
  font-family: 'Graublau Sans Display';
  src: url('./fonts/subset-GraublauSansDisplay-Bold.eot');
  src: url('./fonts/subset-GraublauSansDisplay-Bold.eot?#iefix') format('embedded-opentype'),
      url('./fonts/subset-GraublauSansDisplay-Bold.woff2') format('woff2'),
      url('./fonts/subset-GraublauSansDisplay-Bold.woff') format('woff'),
      url('./fonts/subset-GraublauSansDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Graublau Sans Display';
  src: url('./fonts/subset-GraublauSansDisplay-Regular.eot');
  src: url('./fonts/subset-GraublauSansDisplay-Regular.eot?#iefix') format('embedded-opentype'),
      url('./fonts/subset-GraublauSansDisplay-Regular.woff2') format('woff2'),
      url('./fonts/subset-GraublauSansDisplay-Regular.woff') format('woff'),
      url('./fonts/subset-GraublauSansDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Graublau Slab';
  src: url('./fonts/subset-GraublauSlab-Bold.eot');
  src: url('./fonts/subset-GraublauSlab-Bold.eot?#iefix') format('embedded-opentype'),
      url('./fonts/subset-GraublauSlab-Bold.woff2') format('woff2'),
      url('./fonts/subset-GraublauSlab-Bold.woff') format('woff'),
      url('./fonts/subset-GraublauSlab-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Graublau Slab';
  src: url('./fonts/subset-GraublauSlab-Heavy.eot');
  src: url('./fonts/subset-GraublauSlab-Heavy.eot?#iefix') format('embedded-opentype'),
      url('./fonts/subset-GraublauSlab-Heavy.woff2') format('woff2'),
      url('./fonts/subset-GraublauSlab-Heavy.woff') format('woff'),
      url('./fonts/subset-GraublauSlab-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}