$font-base: 'Graublau Sans Display', Arial, sans-serif;
$font-slab: 'Graublau Slab', Arial, sans-serif;

html,
body
{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #23255A;
  font-family: $font-base;
}

.wrapper
{
	min-height: 100%;
  width: 100%;

  font-size: 16px;

  position: relative;
}

.container
{
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  background: #fff;

  border-radius: 6px;
  box-sizing: border-box;

  overflow: hidden;
}

a
{
  text-decoration: none;
}

h1
{
  margin: 0;
}

@media (max-width: 767px) {
  .not.mobile {
    display: none;
  }

  .container
  {
    display: block;

    padding: 13px;
  }
}